<!DOCTYPE html>
<html>
<head>
  <title>
    Register
  </title>
</head>
<body class="devise">
  <h3 id="sessions_comp">The Mental Wealth Collective</h3>
  <div class='center-logo'>
    <%= image_tag('SMbrain.png')%>
  </div>
  <h2>Fight mental illness with social fitness.</h2>
  <br>
  <h3 id="log_actioncall">Sign up to learn more about classes.</h3>
  <br>
  <%= devise_error_messages! %>
  <div class='center-form'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>

        <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name" %>

        <%= f.label :date_of_birth %>
        <%= f.date_select :dateofbirth, :include_blank => true, :start_year => Date.current.year - 13, :end_year => 1925  %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>

        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>

        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter Password" %>

        <%= f.submit "Sign Up" %>
        <details>
        <% if @minimum_password_length %>
        <em>Password must be at least <%= @minimum_password_length %> characters.</em>
        <% end %>
        <br>
        <em>You will need to confirmed your email before continuing. We promise we won't send you spam emails.</em>
        </details>
      </div>

    <% end %>
  </div>

  <br>
  <br>

  <div class="deviselinks">
    <ul>
      <%= render "devise/shared/links" %>
    </ul>
  </div>
</body>
</html>


