<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <br>
  <h2>The Mental Wealth Collective</h2><br>
  <div class="content_home_large">
    <b>Accessible and affordable group exercise, created for social recovery in safe spaces.</b>
  </div>
  <br>
  <div class="content_home">
    <p> The Mental Wealth Collective provides a safe space for social recovery through accessible and affordable group exercise.</p>
  </div>
  <div class="color_block">
    <%= image_tag('yellow_block.jpg')%>
  </div>
  <br>
  <br>
<div class="content_home">
  <br>
   <b>Safe Space</b>
</div>
<br>
<div class="content_home">Monthly yoga classes, stigma-free.</div>
    <br>
    <br>
<div class="color_block">
    <%= image_tag('pink_block.jpg')%>
</div>
<br>
<br>
<div class="content_home">
  <br>
   <b>Certified Instructors with Life Experience</b>
</div>
<br>
<div class="content_home">Our instructors are personally familiar with the unique challenges of recovery and wellness.</div>
    <br>
    <br>
<div class="color_block">
    <%= image_tag('green_block.jpg')%>
</div>
<br>
<br>
<div class="content_home">
  <br>
   <b>Friends and Family Classes</b>
</div>
<br>
<div class="content_home">Our instructors are personally familiar with the unique challenges of recovery and wellness.</div>
<br>
<br>
<div class="color_block">
    <%= image_tag('orange_block.jpg')%>
</div>
<br>
<div class="center"><p>Sign up for our mailing list.</p></div>
<div class="center">
    <p class="notice"><%= notice %></p>
    <%= form_with scope: :subscriber, url: subscriber_index_path, local: true do |form| %>
    <p>
      <%= form.label :email_address %>
      <%= form.text_field :email %>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <% end %>
  </div>
<br>
</body>
</html>
