<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <div class='center-logo'>
    <%= image_tag('SMbrain.png')%>
  </div>
  <h1>The Mental Wealth Collective</h1>
  <h2>Fighting mental illness with social fitness.</h2>
  <br>
  <h2>Join us. Grow your Mental Wealth.</h2>

<br>
  <div class="center-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        <%= f.submit "Log in" %>
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label "Remember Me?" %>
        <% end -%>
      </div>
    <% end %>
  </div>

  <br>

  <div class="deviselinks">
    <ul>
      <%= render "devise/shared/links" %>
    </ul>
  </div>
</body>
</html>




