<!DOCTYPE html>
<html>
  <head>
    <title>The Mental Wealth Collective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="app_header">
        <div id='nav-logo'>
          <%= image_tag('SMbrain.png', :id => "nav-logo") %>
        </div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to "About", root_path %>
          <%= link_to "Classes", classes_path %>
          <%= link_to "Community",guidelines_path %>
          <%= link_to "Blog", blog_index_path %>
          <%= link_to "Logout", destroy_user_session_path, {method: :delete} %>
        <% end %>
    <% end -%>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      <div class="contact">
        The Mental Wealth Collective</div>
        <div class="contact"> Need Help? <br> <a id="mail-to" href="mailto:hello@mentalwealthcollective.com">Reach Out.</a>
      </div>
      <br>
      <div class="social-wrap">
        <div class="social-icon">
          <a href="https://www.instagram.com/thementalwealthcollective/"><%=image_tag("insta-logo.png")%></a>
        </div>
        <div class="social-icon">
          <a href="https://www.facebook.com/TheMentalWealthCollective/"><%=image_tag("facebook-logo.png")%></a>
        </div>
        <div class="social-icon">
          <a href="https://twitter.com/search?q=%40GetMentalWealth&src=typd"><%=image_tag("twitter-logo.png")%></a>
        </div>
      </div>
    </footer>
  </body>
</html>
