<!DOCTYPE html>
<html>
  <head>
    <title>The Mental Wealth Collective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'LGbrain.png' %>
  </head>

  <body>

      <header class="app_header">

          <div id='nav-logo'>
            <%= link_to image_tag('SMbrain.png', :id => "nav-logo"), root_path %>
          </div>
      <nav>
          <%= link_to "About", mission_index_path %>
          <%= link_to "Classes", classes_path %>
          <%= link_to "Community",guidelines_path %>
          <%= link_to "Blog", blog_index_path %>
      </nav>
    </header>
    <br>
    <br>
    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
      <div class="contact">
       <!--PLACE HOLDER FOR NEWLETTER EMAIL STUFF-->
        </div>
      </div>
      <br>
      <div class="social-wrap">
        <div class="social-icon">
          <a href="https://www.instagram.com/thementalwealthcollective/"><%=image_tag("insta-logo.png")%></a>
        </div>
        <div class="social-icon">
          <a href="https://www.facebook.com/TheMentalWealthCollective/"><%=image_tag("facebook-logo.png")%></a>
        </div>
        <div class="social-icon">
          <a href="https://twitter.com/search?q=%40GetMentalWealth&src=typd"><%=image_tag("twitter-logo.png")%></a>
        </div>
        <div class="social-icon">
          <a id="mail-to" href="mailto:hello@mentalwealthcollective.com"><%=image_tag("Mail-icon.png")%></a>
        </div>
      </div>
    </footer>
  </body>
</html>
