<!DOCTYPE html>
<html>
  <head>
    <title>The Mental Wealth Collective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app_header">
    <% if user_signed_in? %>
      <%= link_to "mission", root_path %>
      <%= link_to "classes", classes_path %>
      <%= link_to "guidelines",guidelines_path %>
      <%= link_to "blog", blog_index_path %>
      <%= link_to "Logout", destroy_user_session_path, {method: :delete} %>
    <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
